@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: rgb(26, 27, 31);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    padding-left: 40px;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 10px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088a9;
}

a:hover,a.activated {
    background: none;
    color: #0082e6;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}




/* Main Body */


.body {
    text-align: center;
    padding-top: 200px;
}

.body h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
}

.body p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #edf0f1;
    padding-top: 50px;
}
/* Footer */

.trailer {
    text-align: center;
    padding-top: 100px;
}

.trailer h2 {
    padding-bottom: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 1px 8px 20px 0 rgba(0,0,0,0.19);
    width: 400px;
    margin: 0 auto;
    bottom: 50px;
    position: relative;
}

.trailer video {
    width: 500px;
    cursor: pointer;
}

.trailer p {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
}

button {
    padding: 20px 40px;
    background-color: #ca0000;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #edf0f1;
    font-size: 20px;
}

button:hover {
    background-color: #910202;
}


@media (max-width: 1024px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

}




@media (max-width: 768px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

}


@media (max-width: 414px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .body h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    }

    .body p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 15px;
        color: #edf0f1;
        padding-top: 50px;
    }

    .body {
        text-align: center;
        padding-top: 130px;
    }

    .line1 {
        display: none;
    }

    .body p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 13px;
        color: #edf0f1;
        padding-top: 50px;
    }


    .trailer h2 {
        padding-bottom: 10px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 1px 8px 20px 0 rgba(0,0,0,0.19);
        width: 250px;
        margin: 0 auto;
        bottom: 50px;
        position: relative;
    }

    .trailer video {
        width: 300px;
        cursor: pointer;
    }

    .trailer p {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 30px;
        color: #edf0f1;
    }


}
