@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}



li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: rgb(26, 27, 31);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    padding-left: 40px;
}

.nav__links {
    list-style: none;
}

.nav__links .li {
    display: inline-block;
    padding: 10px 20px;
}

.nav__links .li .a {
    transition: all 0.3s ease 0s;
}

.nav__links .li .a:hover {
    color: #0088a9;
}

.a:hover,.a.activated {
    background: none;
    color: #0082e6;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.gameProject_ {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border-radius: 8px;
}



/* MAIN BODY*/

.body {
    text-align: center;
}

p {
    color: #edf0f1;
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 500;
}

.mainText {
    color: #edf0f1;
    font-family: "Montserrat", "sans-serif";
    font-size: 32px;
    font-weight: 500;
    padding-top: 120px;
}

.underText {
    color: #edf0f1;
    font-family: "Montserrat", "sans-serif";
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
}

.bodyText{
    padding-top: 30px;
}

.bodyText2 {
    padding-top: 30px;
}

.qna {
    font-size: 32px;
    font-weight: 500;
    padding-top: 120px;
    color: #edf0f1;
    font-family: "Montserrat", "sans-serif";
}

.infoQ {
    padding-left: 500px;
    padding-right: 520px;
    padding-top: 80px;
}

.line1 {
    width: 260px;
    margin: 0 auto;
}
.line2 {
    width: 350px;
    margin: 0 auto;
}

.k {
    background-color: rgb(46, 47, 51);
}

@media (max-width: 1440px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .infoQ {
        padding-left: 550px;
        padding-right: 550px;
        padding-top: 80px;
    }
    
    .line1 {
        width: 260px;
        margin: 0 auto;
    }
    .line2 {
        width: 350px;
        margin: 0 auto;
    }
    
    .k {
        background-color: rgb(46, 47, 51);
    }

    .qna {
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
    }

    .mainText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
    }
    
    .underText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 19px;
        font-weight: 500;
        padding-top: 30px;
    }

    .bodyText{
        font-size: 19px;
        padding-top: 30px;
    }

    .bodyText2{
        font-size: 19px;
        padding-top: 30px;
    }

    

}


@media (max-width: 1024px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .infoQ {
        padding-left: 260px;
        padding-right: 260px;
        padding-top: 80px;
    }
    
    .line1 {
        width: 260px;
        margin: 0 auto;
    }
    .line2 {
        width: 350px;
        margin: 0 auto;
    }
    
    .k {
        background-color: rgb(46, 47, 51);
    }

    .qna {
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
    }

    .mainText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
    }
    
    .underText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 19px;
        font-weight: 500;
        padding-top: 30px;
    }

    .bodyText{
        font-size: 19px;
        padding-top: 30px;
    }

    .bodyText2{
        font-size: 19px;
        padding-top: 30px;
    }

    

}

@media (max-width: 768px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .infoQ {
        padding-left: 130px;
        padding-right: 140px;
        padding-top: 80px;
    }
    
    .line1 {
        width: 260px;
        margin: 0 auto;
    }
    .line2 {
        width: 350px;
        margin: 0 auto;
    }
    
    .k {
        background-color: rgb(46, 47, 51);
    }

    .qna {
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
    }

    .mainText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 32px;
        font-weight: 500;
        padding-top: 120px;
    }
    
    .underText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 19px;
        font-weight: 500;
        padding-top: 30px;
    }

    .bodyText{
        font-size: 19px;
        padding-top: 30px;
    }

    .bodyText2{
        font-size: 19px;
        padding-top: 30px;
    }

    

}




@media (max-width: 425px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 120px;
        padding-left: 20px;
        padding-right: 20px;
    }

  

    .infoQ {
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 80px;
    }
    
    .line1 {
        display: none;
    }
    .line2 {
        display: none;
    }
    
    .k {
        background-color: rgb(46, 47, 51);
    }

    .qna {
        font-size: 22px;
        font-weight: 500;
        padding-top: 120px;
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
    }

    .mainText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 28px;
        font-weight: 500;
        padding-top: 120px;
    }
    
    .underText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 19px;
        font-weight: 500;
        padding-top: 30px;
    }

    .bodyText{
        font-size: 16px;
        padding-top: 30px;
    }

    .bodyText2{
        font-size: 16px;
        padding-top: 30px;
    }

    

}

@media (max-width: 320px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 100px;
        padding-left: 5px;
    }

    .body {
        text-align: center;
        padding-top: 130px;
    }

    .infoQ {
        padding-left: 60px;
        padding-right: 40px;
        padding-top: 80px;
    }
    
    .line1 {
        display: none;
    }
    .line2 {
        display: none;
    }
    
    .k {
        background-color: rgb(46, 47, 51);
    }

    .qna {
        font-size: 22px;
        font-weight: 500;
        padding-top: 120px;
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
    }

    .mainText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 28px;
        font-weight: 500;
        padding-top: 120px;
    }
    
    .underText {
        color: #edf0f1;
        font-family: "Montserrat", "sans-serif";
        font-size: 19px;
        font-weight: 500;
        padding-top: 30px;
    }

    .bodyText{
        font-size: 16px;
        padding-top: 30px;
    }

    .bodyText2{
        font-size: 16px;
        padding-top: 30px;
    }

    

}

