@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}



li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    background-color: rgb(26, 27, 31);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;   
    padding: 20px 10%;
}


.hr1 {
    position: absolute;
    top: 160px;
    width: 120px;
    right: 490px;
}

.hr2 {
    position: absolute;
    top: 160px;
    width: 130px;
    left: 490px;
}

.logo {
    cursor: pointer;
    padding-left: 40px;
}

.nav__links {
    list-style: none;
}

.nav__links .li {
    display: inline-block;
    padding: 10px 20px;
}

.nav__links .li .a {
    transition: all 0.3s ease 0s;
}

.nav__links .li .a:hover {
    color: #0088a9;
}

.a:hover,.a.activated {
    background: none;
    color: #0082e6;
    transition: all 0.3s ease 0s;
    font-size: 20px;
}

.gameProject_ {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
    color: black;
    border-radius: 8px;
}







.late {
    width: 500px;
    height: 300px;
    position: relative;
    top: 40px;
    cursor: pointer;
}

.videos {
    text-align: center;
    position: relative;
    top: 200px;
}

.videos h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    box-shadow: 4px 8px 8px 0 rgba(0,0,0,0.2), 0px 10px 15px 0 rgba(0,0,0,0.19);
    width: 300px;
    margin: 0 auto;
}





.chall {
    width: 400px;
    position: relative;
    top: 100px;
    padding: 0px 40px;
}

.fun {
    width: 400px;
    position: relative;
    top: 100px;
    padding: 0px 40px;
}

.other {
    position: relative;
    top: 300px;
    text-align: center;
    text-shadow: black;
}

.other iframe {
    position: relative;
    top: 130px;
    display: inline-block;
    padding: 0px 40px;
    cursor: pointer;
}

.challenge {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    top: 120px;
    left: 490px;
    position: absolute;
}

.funny {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    top: 120px;
    right: 490px;
    position: absolute;
}

.other h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 40px;
    color: #edf0f1;
    margin: 0 auto;
}

.hr3 {
    width: 300px;
    margin: 0 auto;
}



/* TABLET MODE */


@media (max-width: 1024px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .videos h3 {
        font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    width: 200px;
    margin: 0 auto;
    }

    .late {
    width: 300px;
    height: 150px;
    position: relative;
    top: 40px;
    cursor: pointer;
    }

    .other h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        margin: 0 auto;
    }

    .hr3 {
        width: 200px;
        margin: 0 auto;
    }

    .hr1, .hr2 {
        display: none;
    }

    .challenge {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        top: 110px;
        left: 600px;
        position: absolute;
    }
    
    .funny {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        top: 110px;
        right: 600px;
        position: absolute;
    }

    .chall {
        width: 300px;
        height: 100;
        position: relative;
        top: 100px;
        padding: 0px 40px;
    }
    
    .fun {
        width: 300px;
        height: 100;
        position: relative;
        top: 100px;
        padding: 0px 40px;
    }
    
}


@media (max-width: 768px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .videos h3 {
        font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    width: 200px;
    margin: 0 auto;
    }

    .late {
    width: 300px;
    height: 150px;
    position: relative;
    top: 40px;
    cursor: pointer;
    }

    .other h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        margin: 0 auto;
    }

    .hr3 {
        width: 200px;
        margin: 0 auto;
    }

    .hr1, .hr2 {
        display: none;
    }

    .challenge {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        top: 110px;
        left: 190px;
        position: absolute;
    }
    
    .funny {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        top: 110px;
        right: 190px;
        position: absolute;
    }

    .chall {
        width: 300px;
        position: relative;
        top: 100px;
        padding: 0px 40px;
    }
    
    .fun {
        width: 300px;
        position: relative;
        top: 100px;
        padding: 0px 40px;
    }
    
}







@media (max-width: 414px) {
    li, a {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 12px;
        color: #edf0f1;
        text-decoration: none;
        background-color: rgb(26, 27, 31);
    }

    .nav__links li {
        display: block;
    }

    a:hover,a.activated {
        background: none;
        color: #0082e6;
        transition: none;
        font-size: 12px;
    }

    header {
        padding: 5px;
    }

    .logo {
        width: 130px;
        padding-left: 60px;
    }

    .videos h3 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 25px;
    color: #edf0f1;
    width: 200px;
    margin: 0 auto;
    }

    .late {
    width: 300px;
    height: 150px;
    position: relative;
    top: 40px;
    bottom: 0;
    cursor: pointer;
    }

    .other h3 {
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
        font-size: 25px;
        color: #edf0f1;
        margin: 0 auto;
        position: relative;
        top: 70px;
    }

    .hr3 {
        display: none;
    }

    .hr1, .hr2 {
        display: none;
    }

    .challenge {
        display: none;
    }
    
    .funny {
        display: none;
    }

    .chall {
        width: 300px;
    }
    
    .fun {
        width: 300px;
    }
    
}







